:root {
   --mdc-filled-text-field-focus-label-text-color: var(--clr-primary);
   --mdc-filled-text-field-focus-active-indicator-color: var(--clr-primary);
   --mdc-filled-text-field-caret-color: var(--clr-primary);
   --mdc-filled-text-field-container-color: white;
   --mat-form-field-state-layer-color: var(--clr-primary-lightest);
   --mat-form-field-state-layer-opacity: 1;
}
