:root {
   --mat-form-field-filled-label-text-font: var(--fnt-default);
   --mat-form-field-filled-label-text-color: var(--clr-primary-lighter-contrast);
   --mat-form-field-filled-input-text-color: var(--clr-primary-lighter-contrast);
   --mat-form-field-filled-focus-label-text-color: var(--clr-primary);
   --mat-form-field-filled-focus-active-indicator-color: var(--clr-primary);
   --mat-form-field-filled-caret-color: var(--clr-primary);
   --mat-form-field-filled-container-color: white;
   --mat-form-field-state-layer-color: var(--clr-primary-lightest);
   --mat-form-field-state-layer-opacity: 1;
}
