:root {
   --ngen-checkbox-color: var(--clr-primary);
   --ngen-checkbox-checkmark-color: var(--clr-primary-contrast);
   --ngen-checkbox-unselected-color: var(--clr-primary-darker);
   --ngen-checkbox-label-color: var(--clr-primary-contrast);
}

mat-checkbox {
   --mat-checkbox-selected-focus-icon-color: var(--ngen-checkbox-color);
   --mat-checkbox-selected-focus-state-layer-color: var(--ngen-checkbox-color);
   --mat-checkbox-unselected-focus-icon-color: var(--ngen-checkbox-unselected-color);
   --mat-checkbox-unselected-focus-state-layer-color: var(--ngen-checkbox-unselected-color);
   --mat-checkbox-selected-focus-state-layer-opacity: 0;
   --mat-checkbox-unselected-focus-state-layer-opacity: 0;

   --mat-checkbox-selected-hover-icon-color: var(--ngen-checkbox-color);
   --mat-checkbox-selected-icon-color: var(--ngen-checkbox-color);
   --mat-checkbox-selected-pressed-icon-color: var(--ngen-checkbox-color);
   --mat-checkbox-selected-hover-state-layer-color: var(--ngen-checkbox-color);
   --mat-checkbox-selected-pressed-state-layer-color: var(--ngen-checkbox-color);

   --mat-checkbox-selected-checkmark-color: var(--ngen-checkbox-checkmark-color);

   --mat-checkbox-unselected-hover-icon-color: var(--ngen-checkbox-unselected-color);
   --mat-checkbox-unselected-icon-color: var(--ngen-checkbox-unselected-color);
   --mat-checkbox-unselected-pressed-icon-color: var(--ngen-checkbox-unselected-color);
   --mat-checkbox-unselected-hover-state-layer-color: var(--ngen-checkbox-unselected-color);
   --mat-checkbox-unselected-pressed-state-layer-color: var(--ngen-checkbox-unselected-color);

   label.mdc-label {
      color: var(--ngen-checkbox-label-color);
   }
}
