@use "mixins";

:host {
   background-color: var(--clr-primary);
   text-align: center;
}

hgroup {
   padding: 1.5rem;
   padding-bottom: 0.5rem;

   h1 {
      font-size: clamp(2rem, 6vmin, 3rem);
      margin: 0;
      padding-bottom: 0.5rem;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include mixins.mq(medium) {
         text-wrap: balance;
         padding-block: 0.5rem;
      }
   }

   @include mixins.mq(small) {
      .app-version {
         display: none;
      }
   }
}

nav {
   padding: 1rem;
   user-select: none;

   @include mixins.mq(small) {
      padding-top: 0;
   }

   button {
      font-size: 1.125rem;
      font-weight: var(--fw-semi-bold);
      border-radius: 0;
      padding: 0.5rem;
      width: 25%;
      min-width: fit-content;
      color: var(--clr-primary-contrast);
   }
}
