@use "mixins";

:host {
   background-color: var(--clr-primary);
   text-align: center;
}

h1 {
   font-size: clamp(2rem, 6vmin, 3rem);
   margin: 0;
   padding: 2rem;
   text-wrap: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;

   @include mixins.mq(medium) {
      text-wrap: balance;
      padding-block: 0.5rem;
   }
}

nav {
   padding: 1rem;
   user-select: none;

   @include mixins.mq(small) {
      padding-top: 0;
   }

   button {
      border-radius: 0;
      padding: 0.5rem;
      width: 20%;
      min-width: fit-content;
   }
}
