{
   "tabWidth": 3,
   "useTabs": false,
   "printWidth": 120,
   "bracketSpacing": true,
   "semi": true,
   "bracketSameLine": true,
   "arrowParens": "avoid",
   "singleAttributePerLine": true,
   "trailingComma": "none",
   "singleQuote": false,
   "overrides": [
      {
         "files": "*.json",
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
