<div class="header-container">
   <button
      mat-raised-button
      [disabled]="isLoading()"
      (click)="generateNames()">
      @if (isLoading()) {
         <mat-spinner></mat-spinner>
      } @else {
         Generate
      }
   </button>
   <span class="generation-times-input-container"
      >Generate
      <input
         type="number"
         [value]="generationTimes()"
         [min]="1"
         [max]="maxGenerationTimes"
         (change)="onGenerationTimesChange($event)" />
      name(s)</span
   >
</div>
<div
   #generatedNamesContainer
   class="generated-name-list">
   <table>
      @for (generatedName of generatedNames(); track $index) {
         <tr>
            @let name = generatedName[0];
            <td class="number">{{ $index + 1 }}.</td>
            <td class="name">{{ name }}</td>
            <td>
               <ngen-interactive-icon
                  class="small"
                  type="clipboard"
                  [isButton]="false"
                  tooltipPosition="left"
                  [data]="name"></ngen-interactive-icon>
            </td>
            <td>
               <ngen-interactive-icon
                  class="small"
                  type="delete"
                  [isButton]="false"
                  tooltipPosition="right"
                  (iconClick)="deleteName($index)"></ngen-interactive-icon>
            </td>
         </tr>
      }
   </table>
</div>
