:host {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: subgrid;
   grid-template-rows: subgrid;
   background-color: rgb(255, 255, 146);
}

h2 {
   text-align: center;
}

ngen-sidenav {
   grid-column: sidebar;
   background-color: #8a8a8a;
}

.about-content-wrapper {
   grid-column: content;
   overflow-y: auto;
}
