@use "mixins";

:host {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: subgrid;
   grid-template-rows: subgrid;
   background-color: var(--clr-primary-lighter);

   @include mixins.mq(small) {
      grid-row: span 2;
   }
}

h2 {
   text-align: center;
}

ngen-sidenav {
   grid-area: sidebar;
}

.about-content-wrapper {
   grid-area: content;
   overflow-y: auto;
}
