<div id="ngen-input-wrapper">
   @if (type() === "number" || type() === "text" || type() === "letter-set") {
      <mat-form-field>
         <mat-label>{{ label() }}</mat-label>
         <input
            matInput
            type="text"
            [value]="displayValue()"
            [disabled]="disabled()"
            (blur)="onInputBlur()"
            (change)="onInputValueChange($event)" />
      </mat-form-field>
   } @else if (type() === "checkbox") {
      <mat-checkbox
         [checked]="value()"
         [disabled]="disabled()"
         (blur)="onInputBlur()"
         (change)="onCheckboxValueChange($event)"
         >{{ label() }}</mat-checkbox
      >
   }
   @if (disabled()) {
      <span
         class="disabled-state-indicator"
         [matTooltipDisabled]="!disabledTooltip()"
         [matTooltip]="disabledTooltip()!"
         matTooltipPosition="below"
         >🚫</span
      >
   }
</div>
