@use "mixins";

$button-highlight-gap: 2px;
$border: var(--ngen-container-border-width) solid var(--clr-primary);

:host {
   display: flex;
   flex-direction: column;
   max-width: 40dvw;
   border: $border;
   margin: var(--ngen-container-outer-spacing);
   margin-right: 0;
   border-radius: var(--ngen-container-border-radius);
   background-color: var(--clr-primary-lightest);

   @include mixins.mq(small) {
      flex-direction: row;
      max-width: unset;
      margin-right: var(--ngen-container-outer-spacing);
   }

   button {
      width: 100%;
      height: 4rem;
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      position: relative;
      margin-bottom: $button-highlight-gap;
      cursor: pointer;
      user-select: none;

      @include mixins.mq(small) {
         height: 3rem;
         font-size: 1.25rem;
      }

      &::before,
      &:last-child::after {
         content: "";
         position: absolute;
         left: 10%;
         width: 80%;
         height: $button-highlight-gap;
         background: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 1), rgba(256, 256, 256, 0));
         // TODO
         opacity: 0;
         transition: opacity 0.1s ease-in-out;
      }
      &::before {
         top: 0;
      }
      &:last-child::after {
         bottom: 0;
      }

      &:hover,
      &.selected {
         &::before,
         & + button::before {
            opacity: 1;
         }
      }
      &:last-child:hover::after,
      &:last-child.selected::after {
         opacity: 1;
      }
   }

   #placeholder {
      font-size: 1.4rem;
      text-align: center;
      width: 70%;
   }
}
