<h2>Introduction</h2>
<p>
   Hi, I'm
   <a
      href="https://github.com/bechryko"
      target="_blank"
      >bechryko</a
   >. Welcome to my Name Generator! This application is built to let you generate names based on different algorithms,
   which you can read about in the
   <a (click)="navigateToSubpage(AboutSubpages.GENERATORS)">Generators</a>
   section. These algorithms are highly configurable, so if you have a name idea, or a half finished name, this
   application might help you to finish it and give it to your fictional character.
</p>
<p>
   The icon of the application was created on
   <a
      href="https://www.flaticon.com/icons"
      target="_blank"
      >Flaticon</a
   >
   using an icon by
   <a
      href="https://www.flaticon.com/authors/alfredo-creates"
      target="_blank"
      >Alfredo Creates</a
   >. Take a moment to appreciate his work, or try the site yourself to get some amazing icons!
</p>
