<div id="ngen-input-wrapper">
   @if (type() === "checkbox") {
      <mat-checkbox
         [checked]="value()"
         [disabled]="disabled()"
         [matTooltip]="tooltip()"
         [matTooltipDisabled]="!tooltip()"
         (blur)="onInputBlur()"
         (change)="onCheckboxValueChange($event)"
         >{{ label() }}</mat-checkbox
      >
   } @else {
      <mat-form-field
         [matTooltip]="tooltip()"
         [matTooltipDisabled]="!tooltip()">
         <mat-label>{{ label() }}</mat-label>
         <input
            matInput
            type="text"
            [value]="displayValue()"
            [disabled]="disabled()"
            (blur)="onInputBlur()"
            (change)="onInputValueChange($event)" />
      </mat-form-field>
   }
   @if (disabled()) {
      <span
         class="floating-icon"
         [matTooltipDisabled]="!disabledTooltip()"
         [matTooltip]="disabledTooltip()!"
         matTooltipPosition="below"
         >🚫</span
      >
   } @else if (autoModifyWarningMessage()) {
      <span
         class="floating-icon auto-modify"
         [matTooltip]="'Auto-modified: ' + autoModifyWarningMessage()!"
         matTooltipPosition="below"
         (click)="clearAutoModifyWarningMessage()"
         >🚧</span
      >
   }
</div>
