#ngen-input-wrapper {
   position: relative;
   width: 100%;

   & > :not(.floating-icon) {
      width: 100%;
   }

   mat-label {
      user-select: none;
   }
}

.floating-icon {
   position: absolute;
   top: 0;
   right: 0;
   translate: 50% -50%;
   user-select: none;

   &.auto-modify {
      cursor: pointer;
   }
}
