@use "mixins";
@use "layout";

:host {
   @include layout.page-with-sidebar;
}

main {
   grid-area: content;
   display: grid;
   grid-template-rows: auto minmax(0, 1fr) 10rem;
   grid-template-columns: 1fr auto 1fr;
   grid-template-areas:
      "left-corner title  right-corner"
      "config      config config"
      "output      output output";

   .title-container {
      grid-area: title;
      position: relative;
      background-color: var(--clr-primary-lightest);
      border: var(--ngen-container-border-width) solid var(--clr-primary);
      border-bottom: none;
      border-top-left-radius: var(--ngen-container-border-radius);
      border-top-right-radius: var(--ngen-container-border-radius);
      margin-top: var(--ngen-container-outer-spacing);
      padding-inline: 1rem;

      @include mixins.mq(medium) {
         grid-column: left-corner-start / right-corner-end;
         border: none;
         margin-top: 0;
         border-radius: 0;
      }

      h2 {
         text-align: center;
         margin-bottom: 0.8rem;
         margin-inline: 1.6rem;

         .info-page-icon {
            color: var(--clr-primary-darker);
            margin-bottom: -0.3rem;
            cursor: pointer;

            &:hover {
               color: var(--clr-primary);
            }
         }
      }

      &::after {
         content: "";
         position: absolute;
         left: 0;
         right: 0;
         top: calc(100% - 1px);
         height: calc(var(--ngen-container-border-width) + 2px);
         background-color: var(--clr-primary-lightest);
      }
   }

   .left-corner {
      grid-area: left-corner;
      position: relative;

      @include mixins.mq(medium) {
         display: none;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: calc(var(--ngen-container-border-width) * -1);
         right: calc(var(--ngen-container-border-width) * -1);
         z-index: 10;
         width: calc(var(--ngen-container-border-radius) + var(--ngen-container-border-width));
         aspect-ratio: 1;
         background-image: radial-gradient(
            circle at 100% 100%,
            transparent calc(var(--ngen-container-border-radius) - 1px),
            var(--clr-primary) calc(var(--ngen-container-border-radius)),
            var(--clr-primary) calc(var(--ngen-container-border-radius) + var(--ngen-container-border-width) - 1px),
            var(--clr-primary-lightest) calc(var(--ngen-container-border-radius) + var(--ngen-container-border-width))
         );
         rotate: 180deg;
      }
   }

   .right-corner {
      grid-area: right-corner;
      position: relative;

      @include mixins.mq(medium) {
         display: none;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: calc(var(--ngen-container-border-width) * -1);
         left: calc(var(--ngen-container-border-width) * -1);
         z-index: 10;
         width: calc(var(--ngen-container-border-radius) + var(--ngen-container-border-width));
         aspect-ratio: 1;
         background-image: radial-gradient(
            circle at 100% 100%,
            transparent calc(var(--ngen-container-border-radius) - 1px),
            var(--clr-primary) calc(var(--ngen-container-border-radius)),
            var(--clr-primary) calc(var(--ngen-container-border-radius) + var(--ngen-container-border-width) - 1px),
            var(--clr-primary-lightest) calc(var(--ngen-container-border-radius) + var(--ngen-container-border-width))
         );
         rotate: -90deg;
      }
   }

   .generation-settings-wrapper {
      grid-area: config;

      ngen-generation-config {
         display: block;
         height: 100%;
         box-sizing: border-box;
      }

      .generate-buttons {
         position: relative;
         left: 50%;
         translate: -50% 0;
         color: var(--clr-primary-contrast);
         border-top-right-radius: 0;
         border-top-left-radius: 0;

         @include mixins.mq(medium) {
            left: 0;
            translate: 0;
            border-bottom-left-radius: 0;
         }

         button {
            $size: 1.5rem;

            font-size: $size;
            color: var(--clr-primary-contrast);
            height: 3rem;
            background-color: var(--clr-primary);

            mat-icon {
               font-size: $size;
               color: var(--clr-primary-contrast);
               width: $size;
               height: $size;
               margin: 0;
            }
         }
      }
   }

   ngen-generation-output {
      grid-area: output;
   }
}
