@let generator = selectedGenerator();
@if (generator) {
   <ngen-sidebar
      [selectableList]="GENERATORS"
      [selectedValue]="generator"
      (select)="selectGenerator($event)"
      placeholderText="No generation algorithms!"></ngen-sidebar>
   <main>
      <div class="left-corner"></div>
      <div class="title-container">
         <h2>{{ generator }} Name Generation</h2>
      </div>
      <div class="right-corner"></div>
      <div class="generation-settings-wrapper">
         <ngen-generation-config [generator]="generator"></ngen-generation-config>
         <div class="generate-buttons buttons-container button-group">
            <button
               mat-raised-button
               (click)="generateName()">
               Generate Name
            </button>
            <button
               mat-raised-button
               matTooltip="Bulk generation"
               (click)="openBulkGenerationDialog()">
               <mat-icon>table_view</mat-icon>
            </button>
         </div>
      </div>
      <ngen-generation-output
         [generatedName]="generatedName ?? null"
         [generationData]="generationData ?? null"
         [generator]="generator"></ngen-generation-output>
   </main>
}
