@use "mixins";

:host {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: subgrid;
   grid-template-rows: subgrid;
   background-color: rgb(255, 255, 146);

   @include mixins.mq(small) {
      grid-row: span 2;
   }
}

ngen-sidenav {
   background-color: #8a8a8a;
   grid-area: sidebar;
}

main {
   grid-area: content;
   display: grid;
   grid-template-rows: auto auto minmax(0, 1fr) 10rem;

   h2 {
      text-align: center;
      margin-bottom: 0.8rem;
   }

   h3 {
      text-align: center;
      font-size: 1rem;
      margin-top: 0;
   }

   .generation-settings-wrapper {
      ngen-generation-config {
         display: block;
         height: 100%;
         box-sizing: border-box;
      }

      button {
         position: relative;
         left: 50%;
         translate: -50% 0;
         font-size: 1.5rem;
         height: 3rem;
         border-top-right-radius: 0;
         border-top-left-radius: 0;

         @include mixins.mq(medium) {
            left: 0;
            translate: 0;
            border-bottom-left-radius: 0;
         }
      }
   }
}
