<ng-container *ngLet="(selectedGenerator$ | async)! as selectedGenerator">
   <ngen-sidenav
      [selectableList]="GENERATORS"
      [selectedValue]="selectedGenerator"
      (select)="selectGenerator($event)"
      placeholderText="No generation algorithms!"></ngen-sidenav>
   <main>
      <h2>{{ selectedGenerator }} Name Generation</h2>
      <h3>{{ getGeneratorVersion(selectedGenerator) }}</h3>
      <ngen-generation-config
         [generator]="selectedGenerator"
         (generate)="generateName(selectedGenerator, $event)"></ngen-generation-config>
      <ngen-generation-output [generatedName]="generatedName ?? null"></ngen-generation-output>
   </main>
</ng-container>
