#generation-output-wrapper {
   height: 100%;

   #outputs {
      background-color: #575757;
      border-radius: 1rem;
      width: 70%;
      margin: auto;
      padding: 1rem;

      p {
         font-size: 2rem;
      }
   }
}
