<div id="generation-output-wrapper">
   @if (displayName) {
      <div id="outputs">
         <div class="displayName">
            <p>{{ displayName.name }}</p>
            @for (prop of displayName.props; track $index) {
               <p>{{ prop.propName }}: {{ prop.propValue }}</p>
            }
         </div>
         <div class="icons" *ngLet="(isDeveloperLoggedIn$ | async) as devLoggedIn">
            <ngen-interactive-icon 
               type="clipboard"
               [data]="displayName.name"
               [tooltipPosition]="devLoggedIn ? 'above' : 'below'"
            ></ngen-interactive-icon>
            @if(!nameSaved && devLoggedIn) {
               <ngen-interactive-icon 
                  type="saveName"
                  [data]="displayName.name"
                  (click)="nameSaved = true"
                  tooltipPosition="below"
               ></ngen-interactive-icon>
            }
         </div>
         <div class="clear"></div>
      </div>
   }
</div>
