:host {
   display: flex;
   background-color: #575757;
   padding: 1rem;
}

.display-name {
   align-self: center;

   p {
      font-size: 2rem;
      margin: 0.25rem;
   }
}

.icons {
   align-self: top;
   margin-left: auto;
   display: flex;
   flex-direction: column;
}
