@if (displayName) {
   <div class="display-name">
      <p>{{ displayName.name }}</p>
      @for (prop of displayName.props; track $index) {
         <p>{{ prop.propName }}: {{ prop.propValue }}</p>
      }
   </div>
   <div class="icons">
      <ngen-interactive-icon
         type="clipboard"
         [data]="displayName.name"
         tooltipPosition="above"></ngen-interactive-icon>
      @if (!nameSaved) {
         <ngen-interactive-icon
            type="saveName"
            [data]="displayName.name"
            (click)="nameSaved = true"
            tooltipPosition="below"></ngen-interactive-icon>
      }
   </div>
}
