@if (displayName) {
   <div class="display-name">
      <p>{{ displayName.name }}</p>
      @for (prop of displayName.props; track $index) {
         <p>{{ prop.propName }}: {{ prop.propValue }}</p>
      }
   </div>
   <div class="icons">
      <ngen-interactive-icon
         type="clipboard"
         [data]="displayName.name"
         tooltipPosition="left"></ngen-interactive-icon>
      <!-- @if (!nameSaved) {
         <ngen-interactive-icon
            type="saveName"
            [data]="displayName.name"
            (click)="nameSaved = true"
            tooltipPosition="left"></ngen-interactive-icon>
      } -->
   </div>
} @else {
   <p class="no-name-message">Generated names will appear here!</p>
}
