@let generationNavigationIconTooltip = "Try the generator!";

<h2>Generators</h2>
<p>Here you can find everything about all the generator algorithms and their configuration.</p>
<section>
   <h3>
      Japanese generator algorithm
      <mat-icon
         class="title-icon"
         [matTooltip]="generationNavigationIconTooltip"
         matTooltipPosition="right"
         (click)="navigateToGeneratorAlgorithm(GeneratorAlgorithmName.JAPANESE)"
         >create</mat-icon
      >
   </h3>
   <p class="generator-description">
      This algorithm is based on the Japanese letters. It is a syllabic alphabet, which means that letters placed after
      each other create an easily pronounceable word - a name.
   </p>
   <p>
      The <strong>minimum and maximum length</strong> values configure how many Japanese letters can be placed in the
      name. The length can be between {{ configPropertyBounds.lengthInSyllables.min }} and
      {{ configPropertyBounds.lengthInSyllables.max }}.
   </p>
   <p>
      The <strong>Disable letter weights</strong> checkbox makes it possible to ignore the default weights for each
      Japanese letter. By default, there is a weight assigned to each letter, based on real Japanese texts. By checking
      this rule, these weights are not taken into account when choosing each letter for the generated word.
   </p>
</section>
<section>
   <h3>
      Syllabic generator algorithm
      <mat-icon
         class="title-icon"
         [matTooltip]="generationNavigationIconTooltip"
         matTooltipPosition="right"
         (click)="navigateToGeneratorAlgorithm(GeneratorAlgorithmName.SYLLABIC)"
         >create</mat-icon
      >
   </h3>
   <p class="generator-description">
      This algorithm creates syllables and places them after each other, resulting in a pronounceable name.
   </p>
   <p>
      The <strong>minimum and maximum length</strong> values configure how many syllables can be placed in the name. The
      length can be between {{ configPropertyBounds.lengthInSyllables.min }} and
      {{ configPropertyBounds.lengthInSyllables.max }}.
   </p>
   <p>
      The <strong>excluded and included letters</strong> fields are used to configure the used letters. These can't be
      both used, you can only exclude or include letters to generate the name from. Also, if there are not enough
      letters to generate the name from, the generator will use the default letters and pop up a warning.
   </p>
   <p>
      The <strong>Ignore voiced-unvoiced neighbors</strong> checkbox is used to configure if the generator should ignore
      the voiced-unvoiced neighbor rule. This rule means that after a voiced/unvoiced consonant, the next consonant
      can't be its pair. For example, after a letter 'g' the next consonant can't be 'k', because they are a
      voiced-unvoiced pair. If this checkbox is checked, the generator will ignore this rule and may generate names with
      voiced-unvoiced neighbors.
   </p>
   <p>
      The <strong>Syllable alleviation</strong> checkbox turns on and off the syllable alleviation. This rule prevents
      two or three neighboring syllables to have too many or too few consonants. Overall, this rule helps prevent names
      with only short or only long syllables.
   </p>
   <p>
      The <strong>Disable letter weights</strong> checkbox makes it possible to ignore the default weights for each
      letter. By default, there is a weight assigned to each letter, based on English texts. By checking this rule,
      these weights are not taken into account when choosing each letter for the generated word.
   </p>
</section>
<section>
   <h3>
      Regular generator algorithm
      <mat-icon
         class="title-icon"
         [matTooltip]="generationNavigationIconTooltip"
         matTooltipPosition="right"
         (click)="navigateToGeneratorAlgorithm(GeneratorAlgorithmName.REGULAR)"
         >create</mat-icon
      >
   </h3>
   <p class="generator-description">
      This algorithm uses the full potential of the application's special regular language. It has a lot of
      customizability, although it is built more for customization, than to generate names with the basic configs. So
      with this algorithm, it is crucial to be familiar with the configuration options, and use them for the best,
      custom results!
   </p>
   <p>
      The <strong>minimum and maximum length</strong> values configure how many letters can be placed in the name. The
      length can be between {{ configPropertyBounds.lengthInLetters.min }} and
      {{ configPropertyBounds.lengthInLetters.max }}.
   </p>
   <p>
      The <strong>excluded and included letters</strong> fields are used to configure the used letters. These can't be
      both used, you can only exclude or include letters to generate the name from. Also, if there are not enough
      letters to generate the name from, the generator will use the default letters and pop up a warning.
   </p>
   <p>
      The <strong>Ignore voiced-unvoiced neighbors</strong> checkbox is used to configure if the generator should ignore
      the voiced-unvoiced neighbor rule. This rule means that after a voiced/unvoiced consonant, the next consonant
      can't be its pair. For example, after a letter 'g' the next consonant can't be 'k', because they are a
      voiced-unvoiced pair. If this checkbox is checked, the generator will ignore this rule and may generate names with
      voiced-unvoiced neighbors.
   </p>
   <p>
      The <strong>regular name start/end/skeleton</strong> lets you customize how you want your name to be built. The
      start and end only applies to the respective part of the name, while the skeleton defines the whole name
      (overriding the set length options).
   </p>
   <p>
      The regular language, which you can use in the above fields, consists of four types of characters: letters, basic
      regular symbols, regular reference symbols and regular letter sets. The letters are explicitly telling the
      generator to put the given letter in the given place in the name. With the basic regular symbols you can define
      sets of letters to put in the given place. The <code>{{ regulars.wildcard }}</code> (wildcard) symbol tells that
      any letter (taking into account other configuration rules) can be placed there, while
      <code>{{ regulars.vowel }}</code> and <code>{{ regulars.consonant }}</code> mean a random vowel or consonant,
      respectively. Using regular reference symbols you can reference to other parts of your name, using non-negative
      integer numbers. (Indexing starts from 0.) For an example, if your regular structure is "<code>+--0</code>", the
      first letter will be a random vowel, the second and third a random consonant which are independent, and the last
      letter references the first (the one with index 0), so they will always be the same. One possible name generated
      with this structure is "Ansa". (If you are using references with higher index than 9, you have to put curly
      brackets around them, like <code>{{ "{11}" }}</code
      >.)
   </p>
   <p>
      Note that, regular name start and end are regular strings on their own. So if you write a <code>0</code> in the
      regular name end, it will reference the first character of the regular name end, not the whole name! If you want
      to create an external reference (to reference a character that is not in the current regular string), use the
      following syntax: <code>{{ "{e\<referenceIndex\>}" }}</code
      >! For example, if you want to reference the 2nd character in the regular start, from the regular end, you have to
      use a <code>{{ "{e1}" }}</code> reference.
   </p>
   <p>
      Furthermore, you can use regular letter sets. With the syntax <code>(bcd)</code> you can define such set, so
      during generation one letter is used from this set randomly, with equal chance. So the regular skeleton
      "<code>a(dtv)a</code>" can be "Ada", "Ata" or "Ava". Note that, in regular letter sets currently you can only use
      letters, no regular characters.
   </p>
   <p>
      The <strong>Disable letter weights</strong> checkbox makes it possible to ignore the default weights for each
      letter. By default, there is a weight assigned to each letter, based on English texts. By checking this rule,
      these weights are not taken into account when choosing each letter for the generated word.
   </p>
</section>
<section>
   <h3>
      Phonetic generator algorithm
      <mat-icon
         class="title-icon"
         [matTooltip]="generationNavigationIconTooltip"
         matTooltipPosition="right"
         (click)="navigateToGeneratorAlgorithm(GeneratorAlgorithmName.PHONETIC)"
         >create</mat-icon
      >
   </h3>
   <p class="generator-description">
      This generator is based on
      <a
         href="https://github.com/TomFrost/node-phonetic"
         target="_blank"
         >Tom Shawver's Phonetic NPM package</a
      >, which creates random, pronounceable words. This generator is only a wrapper around that package to integrate it
      into the name generator, so all credits go to Tom Shawver.
   </p>
   <p>
      The <strong>minimum and maximum length</strong> values configure how many syllables can be placed in the name. The
      length can be between {{ configPropertyBounds.lengthInSyllables.min }} and
      {{ configPropertyBounds.lengthInSyllables.max }}. Note that this is a phonetic syllable amount, the actual one can
      be outside the set bounds.
   </p>
</section>
