.database-wrapper {
   background-color: rgb(255, 255, 146);
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: auto;
   height: calc(100dvh - 187px);

   .databases {
      $margin-size: 2rem;

      width: 60%;
      min-height: calc(100% - $margin-size * 2);
      box-sizing: border-box;
      margin: $margin-size auto;
      background-color: lightgrey;

      h2 {
         text-align: center;
      }
   }
}
