:host {
   grid-column: 1 / -1;
   background-color: rgb(255, 255, 146);
   overflow-y: auto;
}

.databases {
   $margin-size: 2rem;

   width: 60%;
   margin: auto;
   box-sizing: border-box;
   margin: $margin-size auto;
   background-color: lightgrey;

   h2 {
      text-align: center;
      margin: 0;
      padding-block: 1.5rem;
   }
}
