<form
   id="generation-config-wrapper"
   autocomplete="off">
   <fieldset>
      <legend>Generation configuration</legend>
      @if (shouldNoticeBeDisplayed()) {
         <ngen-generation-config-notice [algorithm]="selectedGenerator()"></ngen-generation-config-notice>
      }
      @for (field of configFields; track $index) {
         @if (generatorConfigFields[field.name]) {
            @let configFieldData = configFieldsData[field.name];
            <ngen-input
               [(disabled)]="configFieldData.disabled"
               [(value)]="configFieldData.value"
               [label]="field.label"
               [type]="field.type"
               [disabledTooltip]="field.disabledTooltip"
               [tooltip]="field.tooltip?.()"
               (blur)="onBlur(field)"></ngen-input>
         }
      }
   </fieldset>
</form>
