<form id="generation-config-wrapper" 
   [formGroup]="configForm" 
   (ngSubmit)="onGenerate()"
   autocomplete="off"
>
   @for (field of configFields; track $index) {
      @if (generatorConfigFields[field.name]) {
         <ngen-input
            formControlName="{{ field.name }}"
            [label]="field.label"
            [type]="field.type"
            [ngenDisabled]="field.disabled ?? false"
            (blur)="correctFieldValue(field)"
         ></ngen-input>
         <br>
      }
   }
   <button mat-raised-button color="primary" type="submit" class="submit-button">Generate Names</button>
</form>
