@use "mixins";

:host {
   padding: 1rem;

   @include mixins.mq(medium) {
      padding: 0;
   }

   @include mixins.mq(small, height) {
      padding: 0;
   }
}

#generation-config-wrapper {
   height: 100%;
   padding: 1rem;
   box-sizing: border-box;
   overflow-y: visible;
   background-color: rgb(255, 255, 179);
   border-radius: 1rem;

   @include mixins.mq(medium) {
      border-radius: 0;
   }

   @include mixins.mq(small, height) {
      padding: 0;
   }

   fieldset {
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      column-gap: 3rem;
      align-content: start;
      overflow-x: auto;
      padding-top: 1rem;
      border-color: orangered;
      box-sizing: border-box;
      margin: 0;

      @include mixins.mq(small, height) {
         border: none;
         justify-content: space-around;
      }

      legend {
         width: fit-content;
         padding-inline: 1rem;
      }

      ngen-input {
         flex-basis: 56px;
         width: 250px;
      }
   }
}
