<form
   id="generation-config-wrapper"
   [formGroup]="configForm"
   autocomplete="off">
   <fieldset>
      <legend>Generation configuration</legend>
      @for (field of configFields; track $index) {
         @if (generatorConfigFields[field.name]) {
            <ngen-input
               formControlName="{{ field.name }}"
               [label]="field.label"
               [type]="field.type"
               [ngenDisabled]="field.disabled ?? false"
               (blur)="onBlur(field)"></ngen-input>
         }
      }
   </fieldset>
</form>
