#generation-config-wrapper {
   height: 100%;
   padding: 2rem;
   box-sizing: border-box;
   display: flex;
   flex-flow: column wrap;
   column-gap: 3rem;
   align-content: start;

   & > * {
      flex-basis: 56px;
      width: 250px;
   }

   .submit-button {
      font-size: larger;
   }
}
