:root {
   --fnt-default: "Outfit", sans-serif;
   --fnt-button: "Outfit", sans-serif;
   --fnt-tooltip: "Outfit", sans-serif;
   --fnt-code: "Google Sans Code", monospace;
   --fnt-japanese: "Noto Sans JP", sans-serif;
}
