:host {
   display: block;
   max-width: 80ch;
   margin-inline: auto;

   & > *:last-child {
      margin-bottom: 3.5em;
   }

   $version-name-date-gap: 0.2em;

   h2 {
      text-align: center;
      font-size: 2.2em;
   }

   h3 {
      font-size: 1.9em;
   }

   h4 {
      font-size: 1.6em;
   }

   p {
      text-indent: 2ch;
      text-align: justify;
      text-wrap: pretty;
      font-size: 1.3rem;
      margin: 0;
   }

   li {
      font-size: 1.2rem;
   }

   a {
      text-decoration: none !important;
      color: rgb(164, 107, 0) !important;

      &:visited {
         color: orangered !important;
      }
   }

   .version-details {
      h3,
      h4 {
         margin-bottom: $version-name-date-gap;
      }

      p {
         font-size: 1.1rem;
         margin-top: $version-name-date-gap;
      }
   }

   code {
      background-color: rgba(140, 140, 140, 0.5);
   }
}
