:host {
   display: block;
   max-width: 80ch;
   margin-inline: auto;
   padding-inline: 1.5rem;

   & > *:last-child {
      margin-bottom: 3.5em;
   }

   $version-name-date-gap: 0.2em;

   h2 {
      text-align: center;
      font-size: 2.2em;
   }

   h3 {
      font-size: 1.9em;
   }

   h4 {
      font-size: 1.6em;
   }

   .title-icon {
      color: var(--clr-primary-darker);
      margin-bottom: -0.25rem;
      cursor: pointer;

      &:hover {
         color: var(--clr-primary);
      }
   }

   p {
      text-indent: 2ch;
      text-align: justify;
      text-wrap: pretty;
      font-size: 1.3rem;
      margin: 0;
   }

   li {
      font-size: 1.2rem;
   }

   a {
      position: relative;
      text-decoration: none;
      text-decoration-thickness: 1px !important;
      text-underline-offset: 0.125em;
      color: var(--clr-primary-darker);
      margin-inline-start: 0.5em;
      cursor: pointer;

      &:hover {
         text-decoration: underline;
      }

      &::before {
         content: "🔗";
         position: absolute;
         top: 0;
         left: 0;
         font-size: 0.5em;
         translate: -100% 0;
         pointer-events: none;
      }
   }

   .version-details {
      h3,
      h4 {
         margin-bottom: $version-name-date-gap;
      }

      p {
         font-size: 1.1rem;
         margin-top: $version-name-date-gap;
      }
   }

   code {
      font-family: var(--fnt-code);
      background-color: rgba(140, 140, 140, 0.5);
   }
}
