@use "general";
@use "themes";
@use "typography";
@use "material-override";

html {
   --ngen-container-outer-spacing: 1rem;
   --ngen-container-border-radius: 1rem;
   --ngen-container-border-width: 0.25rem;

   font-family: var(--fnt-default);
   font-weight: var(--fw-normal);
   overflow: hidden;
}

body {
   margin: 0;
   overflow: hidden;
}

*::selection {
   background-color: var(--clr-primary);
   color: var(--clr-primary-contrast);
}

h1,
h2,
h3,
h4,
.app-version {
   text-wrap: balance;

   &::selection {
      background-color: var(--clr-primary-darker);
      color: var(--clr-primary-darker-contrast);
   }
}

h1,
h2 {
   font-weight: var(--fw-bold);
}

h3,
legend {
   font-weight: var(--fw-semi-bold);
   text-decoration: underline;
}

router-outlet {
   position: absolute;
}

input {
   font-family: var(--fnt-default) !important;
}

button {
   font-family: var(--fnt-button);
   font-weight: var(--fw-semi-bold);
}

.buttons-container {
   display: flex;
   gap: 1rem;

   &:not(.button-group) > * {
      flex: 1;
   }

   &.button-group {
      width: fit-content;
      gap: 0;

      > * {
         &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
         }

         &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
         }
      }
   }
}
